<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <script src="js/hello.js"></script>
    </head>
    <body>
        <h1>
            {{title}}
        </h1>
        <img src="img/goku.jpg">
        <p>Created by {{creator}}</p>
    </body>
</html>